@media all and (min-width: 46em) {
    #mobile-button-menu{
        display:none;
    }  
    #navigation{
        height:4rem;
    }
}


@media all and (max-width: 46em) {
    .navigation-links{
    	width:100%;
    	float:left;
    	text-align:center;
    }
    #mobile-button-menu{
        display:inline;
    }   

    #navigation ul a{
        border-top: 0.1rem solid #e2e7e9;
        width:100%;
        padding-top:2rem;
        padding-bottom:2rem;
    }
    #page-start{

    	height:30rem;
    }

    #sealious-avd-1 {
        order:1;
        -webkit-order:1;
        margin-bottom:-1rem;
    }
    #sealious-avd-2 {
        order:2;
        -webkit-order:2;
        padding-bottom:4rem;
        width:100%;
    }

    #sealious-avd-3 {
        order:4;
        -webkit-order:4;
        padding-bottom:4rem;
        width:100%;
    }

    #sealious-avd-4 {
        order:3;
        -webkit-order:3;
        margin-bottom:-1.5rem;
    }

    #sealious-avd-5 {
        order:5;
        -webkit-order:5;
        margin-bottom:-1.3rem;
    }

    #sealious-avd-6 {
        order:6;
        -webkit-order:6;
        padding-bottom:4rem;
        width:100%;
    }

    #sealious-avd-7 {
        order:8;
        -webkit-order:8;
        padding-bottom:6rem;
        width:100%;
    }

    #sealious-avd-8 {
        order:7;
        -webkit-order:7;
        margin-bottom:-3rem;
    }
    footer span{
        padding-bottom:1.5rem;
    }
    footer a{
        -webkit-order:1;
        order:1;
        width:100%;
        text-align:center;
    }

} 