/*--------------------- 0. Includes ---------------------------------*/
/*--------------------- 1. Navigation ---------------------------------*/
/*--------------------- 2. Page Start ---------------------------------*/
/*--------------------- 3. Page Why -----------------------------------*/
/*--------------------- 4. Page Code ----------------------------------*/
/*--------------------- 5. Page We ------------------------------------*/
/*--------------------- 6. Page Social --------------------------------*/
/*--------------------- 7. Footer -------------------------------------*/

/*----------------------- Includes ------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/*-----------------------------------------------------*/

body {
    font-family: 'SourceSansProLight';
    color:white;
    margin: 0 auto;
}

h1{
    font-family: 'SourceSansProLight';
    font-weight: normal;
}
/*----------------- 1. Navigation ------------------------------------*/
#navigation {
    position:fixed;
    z-index:1;
    width: 100%;
    color: #29303F;
    background-color:white;
    height:4rem;
    overflow:hidden;
    border-bottom: 0.1rem solid #e2e7e9;  
    padding-top:1.3rem;

    -webkit-transition: height 1s; /* Safari */
    transition: height 1s;
}
#mobile-button-menu{
    margin-top:-0.5rem;
    margin-right:2rem;
    padding:0.5rem 1rem;
    height:2.5rem;

    cursor:pointer;
}

#navigation-special-width {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width:60rem;
    margin: 0 auto;
}

#navigation ul li{
    list-style: none;
    display: inline;
}
#navigation li{
        text-align:center;
}

#navigation ul a:last-child {
    margin-right:5rem;
}

#navigation-logo{
    margin-top:-0.3rem;
    margin-left:5rem;
    margin-bottom:1rem;
    height:2rem;
    float:left;
}

#navigation-logo-text {
    font-family: 'Neris';
    font-size:1rem;
    padding-top:1.3rem;
    padding-left:0.2rem;
    float:left;
    color: #29303F;
}

.navigation-links{
    padding:0.5rem 1rem;
}

.navigation-links:visited, .navigation-links:active, .navigation-links:link{
    text-decoration:none;
    color:#29303F;
}

.navigation-links:hover{
    text-decoration:none;
    background: #29303F;
    color:white;
}

/*--------------------- 2. Page Start --------------------------------*/
#page-start{
    min-height:30rem;
    width: 100%;
    background-image:
        linear-gradient(
        to top left,
        #4D394B, #29303F
        );
    text-align:center;
}

#page-start img{
    margin-top:10rem;
    margin-bottom:0.5rem;
}


#page-start h3{
    text-align:center;
    width:70%;
    margin:0 auto;
    font-weight:normal;
}

#page-start h1{
    padding-bottom:3rem;
}

#blink {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    -ms-animation: blink 1s linear infinite;
    -o-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}

@-moz-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}

@-ms-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}

@-o-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}
/*--------------------- 3. Page Why -----------------------------------*/
#container2{
    background-color:white;
    height:auto;
}

#page-why{
    min-height:67rem;
    max-width:48rem;
    color:#29303F;
    margin:0 auto;
}

#page-why h1{
   font-family: 'SourceSansProLight';
   font-weight:normal;
   text-align:center;
   padding-top:6rem;
   padding-bottom:4rem;
   width:100%;
}

#sealious-advantages{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    max-width:47rem;
    height:auto;
}

.sealious-advantage-image {
    max-width:12rem;
    height:10rem;
}

.sealious-advantage-image img{
    padding:1rem;
}

.sealious-advantage-definition{
    max-width:35rem;
    min-height:10rem;
    padding:0 2rem;
    text-align:center;
}

.sealious-advantage-definition h2{
    font-family: 'SourceSansProLight';
    font-weight:normal;
    padding:0.7rem 0rem;
}

/*--------------------- 4. Page Code ----------------------------------*/
#container3{
    background-color:#394359;
}

#page-code{
    min-height:55rem;
    max-width:60rem;
    margin:0 auto;

    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}


#sealious-code-place{
    max-width:50rem;
    min-height:26rem;
    margin:0 2rem;
}

#sealious-code-definition{
    padding-top:6rem;
    text-align: center;
}

#sealious-code-definition p{
    padding:0rem 2rem;
}

#sealious-code-definition h1{
    padding:2rem 0rem;
}

#sealious-code-place-folder{
    max-width:50rem;
    height:24rem;
    background-color: #F5FFFA;
    border-radius: 0.3rem;
    margin:1rem auto;
    color: #29303F;
}

/*--------------------- 5. Page We ------------------------------------*/
#container4{
    background-color: #7c94a1;
}
#page-we{
    max-width:60rem;
    min-height:35rem;
    margin: 0 auto;
}

#page-we h1{
    text-align:center;
    padding-top:6rem;
    padding-bottom:5rem;
}
#sealious-team {
    max-width:60rem;
    padding-bottom:3rem;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.sealious-team-member{
    width:15rem;
    height:15rem;
    text-align:center;
    margin-top:1rem;
    margin-bottom:1rem;

}

.sealious-team-member img{
    border-radius:10rem;
}

.sealious-team-member h2{
    font-family: 'SourceSansProLight';
    font-weight:normal;
    padding-top:0.2rem;
    padding-bottom:0.5rem;
}

.sealious-team-member p{
    font-size:0.9rem;
}
/*--------------------- 6. Page Social --------------------------------*/
#container5{
    background-color: white;
}

#page-social{
    height:20rem;
    max-width:25rem;
    margin: 0 auto;
    color: #29303F;
    text-align:center;
}

#page-social h1{
    width:100%;
    padding-top:6rem;
    padding-bottom:3rem;
}
#page-social a{
    margin-top:5rem;
    text-decoration:none;
}
#page-social i{
    color:#29303F;
}
.demo-icon1 {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size : 3rem;
    margin:2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}
.demo-icon2 {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size : 2.5rem;
    margin:2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}
/*--------------------- 7. Footer -------------------------------------*/
#container6{
    background-color: white;
}

footer{
    height:3rem;
    max-width:60rem;
    margin:0 auto;
    margin-bottom:3rem;
    color: #29303F;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

footer span{
    -webkit-order:2;
    order:2;
    margin-left:1rem;
    padding-top:1rem;
    padding-right:1rem;
}

footer a {
   
    padding: 1rem 1rem;
    text-decoration:none;
}

footer a:link, footer a:active,footer a:visited{
    color:#29303F;
}

footer a:hover{
    background: #29303F;
    color:white;
}



