/*--------------------- 0. Includes ---------------------------------*/
/*--------------------- 1. Navigation ---------------------------------*/
/*--------------------- 2. Page Start ---------------------------------*/
/*--------------------- 3. Page Why -----------------------------------*/
/*--------------------- 4. Page Code ----------------------------------*/
/*--------------------- 5. Page We ------------------------------------*/
/*--------------------- 6. Page Social --------------------------------*/
/*--------------------- 7. Footer -------------------------------------*/

/*----------------------- Includes ------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/*-----------------------------------------------------*/

body {
    font-family: 'SourceSansProLight';
    color:white;
    margin: 0 auto;
}

h1{
    font-family: 'SourceSansProLight';
    font-weight: normal;
}
/*----------------- 1. Navigation ------------------------------------*/
#navigation {
    position:fixed;
    top:0rem;
    left:0rem;
    z-index:2;
    width: 100%;
    color: #29303F;
    background-color:white;
    height:4rem;
    overflow:hidden;
    box-shadow:0rem 0rem .2rem rgba(0,0,0,0.3);
    

    -webkit-transition: height 0.2s; /* Safari */
    transition: height 0.2s;
}
#mobile-button-menu{
    padding-top:1.3rem;
    padding-left:1rem;
    padding-right:1rem;
    padding-bottom:1.5rem;
    margin-right:1rem;
    cursor:pointer;
    
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

}
#mobile-button-menu:hover{
    color:white;
    background: #29303F;
}
#mobile-button-menu:active,#mobile-button-menu:link, #mobile-button-menu:visited  {
    color: #29303F;
    background-color:white;
}



#navigation-special-width {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width:60rem;
    margin: 0 auto;
}
#navigation ul li{
    list-style: none;
    display: inline;
}

#navigation li{
    text-align:center;
}

#navigation-logo{
    margin-top:1rem;
    height:2rem;
    float:left;
}

#navigation-logo-text {
    font-family: 'Neris';
    font-size:1rem;
    padding-top:1.3rem;
    padding-left:0.2rem;
    float:left;
    color: #29303F;
}

.navigation-links{
    padding-top:1.3rem;
    padding-bottom: 1.5rem;
    padding-left:1rem;
    padding-right:1rem;

    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.navigation-links:visited, .navigation-links:active, .navigation-links:link{
    text-decoration:none;
    color:#29303F;
}

.navigation-links:hover{
    text-decoration:none;
    background: #29303F;
    color:white;
}

/*--------------------- 2. Page Start --------------------------------*/
#page-start{
    min-height:30rem;
    width: 100%;
    background-image:
        linear-gradient(
        to top left,
        #4D394B, #29303F
        );
    text-align:center;
}

#page-start img{
    margin-top:10rem;
    margin-bottom:0.5rem;
}


#page-start h3{
    text-align:center;
    width:70%;
    margin:0 auto;
    font-weight:normal;
}

#page-start h1{
    padding-bottom:1rem;
}

#blink {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    -ms-animation: blink 1s linear infinite;
    -o-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}

@-moz-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}

@-ms-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}

@-o-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.01% {opacity: 0;}
    100% {opacity: 0;}
}
/*--------------------- 3. Page Why -----------------------------------*/
#container2{
    background-color:#fcfcfc;
}

#page-why{
    min-height:57rem;
    max-width:48rem;
    color:#29303F;
    margin:0 auto;
}

#page-why h1{
   font-family: 'SourceSansProLight';
   font-weight:normal;
   text-align:center;
   padding-top:6rem;
   padding-bottom:4rem;
   width:100%;
}


.sealious-advantage{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    max-width:47rem;
    height:auto;
}

.sealious-advantage-image {
    width:10rem;
    height:10rem;
    flex-grow:0;
}

.sealious-advantage-image img{
    padding:1rem;
    margin:0 auto;
}
.sealious-advantage-definition{
    max-width:30rem;
    min-height:10rem;
    padding:1rem 2rem;
    text-align:center;
    flex-grow:1;
}

.sealious-advantage-definition h2{
    font-family: 'SourceSansProLight';
    font-weight:normal;
    padding:1rem 0rem 1rem 0rem;
}

.sealious-advantage:nth-child(4) .sealious-advantage-definition h2{
    padding-top:2rem;
}
/*--------------------- 4. Page Code ----------------------------------*/
#container3{
    background-image:
        linear-gradient(
        to bottom,
        #4D394B, #29303F
        );
}

#page-code{
    min-height:35rem;
    max-width:60rem;
    margin:0 auto;

    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}


#sealious-code-place{
    max-width:50rem;
    min-height:5rem;
    margin-left:1rem;
    margin-right:1rem;
    overflow:hidden;
    
}

#sealious-code-definition{
    padding-top:2rem;
    padding-bottom:4rem;
    text-align: center;
}

#sealious-code-definition p{
    padding:0rem 1rem;
}

#sealious-code-definition h1{
    padding:3rem 2rem;
}
#sealious-code-place pre code{
    padding-left:1.5rem;
    padding-right:1.5rem;
    max-width: 100%;
    overflow-y:auto;
    overflow-x:auto;
}
/*--------------------- 5. Page We ------------------------------------*/
#container4{
    margin-top:-0.5rem;
    background-image:
        linear-gradient(
        to top,
        #4D394B, #29303F
        );
    
}
#page-we{
    max-width:60rem;
    min-height:35rem;
    margin: 0 auto;
}

#page-we h1{
    text-align:center;

    padding: 6rem 1rem 5rem 1rem;
}
#sealious-team {
    max-width:60rem;
    padding-bottom:3rem;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.sealious-team-member{
    width:15rem;
    height:15rem;
    text-align:center;
    margin-top:1rem;
    margin-bottom:1rem;
}

.sealious-team-member img{
    width:10rem;
    height:10rem;
    border-radius:10rem;
        transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.sealious-team-member h2{
    font-family: 'SourceSansProLight';
    font-weight:normal;
    padding-top:0.2rem;
    padding-bottom:0.5rem;
}

#sealious-team a{
    text-decoration:none;
    color:white;
}
#sealious-team a:active, #sealious-team a:link, #sealious-team a:visited{
    text-decoration:none;
    color:white;
} 
#sealious-team a:hover .sealious-team-member img{
    box-shadow: 0rem 0rem 2rem #14171f;
}
.sealious-team-member p{
    font-size:0.9rem;
}
/*--------------------- 6. Page Social --------------------------------*/
#container5{
    background-color: #fcfcfc;
}

#page-social{
    height:20rem;
    max-width:25rem;
    margin: 0 auto;
    color: #29303F;
    text-align:center;
}

#page-social h1{
    width:100%;
    padding-top:6rem;
    padding-bottom:3rem;
}
#page-social a{
    margin-top:5rem;
    text-decoration:none;
}
#page-social i{
    color:#29303F;
}
.demo-icon1 {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size : 3rem;
    margin:2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}
.demo-icon2 {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size : 2.5rem;
    margin:2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}
/*--------------------- 7. Footer -------------------------------------*/
#container6{
    background-color: #fcfcfc;
    height:auto;
}

footer{
    min-height:4rem;
    max-width:60rem;
    margin:0 auto;
    padding-bottom:1rem;
    color: #29303F;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

footer span{
    margin-left:1rem;
    padding-top:1rem;
    padding-right:1rem;
}

footer a {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    padding: 1rem 1rem;
    text-decoration:none;
}

footer a:link, footer a:active,footer a:visited{
    color:#29303F;
}

footer a:hover{
    background: #29303F;
    color:white;
}


/*----------------------------Linki hover transition -------------*/
