* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

#sidebar{
    height: 100%;
    width: 14rem;
    float: left;
    padding: 1rem;
    position: fixed;
    border-right: 0.1rem solid #e2e7e9;
}

#main{
    height: 100%;
    padding-left: 14rem;
    max-width: 60rem;
}

select{
    background-color: #FFF;
    border: none;
    color: rgb(51, 51, 51) !important;
    font-weight: 300;
}


@media all and (min-width: 60.75rem) and (max-width: 68.75rem) {
}

@media all and (max-width: 60.75rem) {
}

@media all and (max-width: 48rem) {
}

@media all and (max-width: 40rem) {
}

@media all and (max-width: 33.75rem) {
}

@media all and (max-width: 30rem) {
}

@media all and (max-width: 22.5rem) {
}

@media all and (max-width: 20rem) {
}

@media all and (max-height: 38.75rem) {
}