/*--------------------- 0. Includes ---------------------------------*/
/*--------------------- 1. Navigation ---------------------------------*/
/*--------------------- 2. Page Start ---------------------------------*/
/*--------------------- 3. Page Why -----------------------------------*/
/*--------------------- 4. Page Code ----------------------------------*/
/*--------------------- 5. Page We ------------------------------------*/
/*--------------------- 6. Page Social --------------------------------*/
/*--------------------- 7. Footer -------------------------------------*/

/*----------------------- Includes ------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

/*-----------------------------------------------------*/

body {
    font-family: 'SourceSansProLight';
    color:white;
    margin: 0 auto;
}


/*----------------- 1. Navigation ------------------------------------*/
#navigation {
    position:fixed;
    z-index:1;
    width: 100%;
    color: #29303F;
    background-color:white;
    height:3rem;
}
#navigation-special-width {
    max-width:60rem;
    margin: 0 auto;
}
#navigation ul {
    float: right;
    margin-top:1rem;
    margin-right:5rem;
}

#navigation ul li{
    list-style: none;
    display: inline;
    margin: 0 1rem;
}

#navigation-logo{
    margin-top:0.5rem;
    margin-left:5rem;
    height:2rem;
    float:left;
}
#navigation-logo-text {
    font-family: 'nerislight';
    font-size:1rem;
    padding-top:1rem;
    padding-left:0.2rem;
    float:left;
}
/*--------------------- 2. Page Start --------------------------------*/
#page-start{
    height:30rem;
    width: 100%;
    background-image:
        linear-gradient(
        to top left,
        #4D394B, #29303F
        );
    text-align:center;
    padding-top:10rem;
}

#page-start h3{
    text-align:center;
    width:70%;
    margin:0 auto;
    font-weight:normal;
}
/*--------------------- 3. Page Why -----------------------------------*/
#container2{
    background-color:white;
}
#page-why{
    height:30rem;
    width:60rem;
    
    color:#29303F;
    margin:0 auto;
}
#page-why h1{
   font-family: 'SourceSansProLight';
   font-weight:normal;
   text-align:center;
   padding-top:6rem;
}
/*--------------------- 4. Page Code ----------------------------------*/
#container3{
    background-color:#394359;
}
#page-code{
    height:30rem;
    width:60rem;
    margin:0 auto;
}
#page-code h1{
    font-family: 'SourceSansProLight';
    font-weight:normal;
    text-align:center;
    padding-top:6rem;
}
/*--------------------- 5. Page We ------------------------------------*/
#container4{
    background-color: blue;
}
#page-we{
    height:30rem;
    width:60rem;
    margin: 0 auto;
}
#page-we h1{
    font-family: 'SourceSansProLight';
    font-weight:normal;
    text-align:center;
    padding-top:6rem;
}
/*--------------------- 6. Page Social --------------------------------*/
#page-social{
    height:30rem;
    width:60rem;
    background-color:red;
}
/*--------------------- 7. Footer -------------------------------------*/
footer{
    height:5rem;
    width:60rem;
    background-color:purple;
}