@media all and (min-width: 60.75em) and (max-width: 68.75em) {
    header,
    .wrapper {
        max-width: none;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media all and (max-width: 60.75em) {
    .title {
        text-align: center;
    }
    .title-description {
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 4rem;
        text-align: center;
    }
    .page-header {
        height: auto;
    }

    header {
        padding-left: 0;
        padding-right: 0;
    }

    .wrapper {
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media all and (max-width: 48em) {

}

@media all and (max-width: 40em) {
    nav {
        height: 8rem;
    }
    .title {
        font-size: 5.75rem;
    }
    .title-description {}
    h1 {
        font-size: 4.6rem;
    }
}

@media all and (max-width: 33.75em) {
    nav {
        height: 6rem;
    }
    .title {
        font-size: 5.5rem;
    }
    .title-description {
        line-height: 1rem;
    }
    .npm-install-sealious {
        font-size: 2.3rem;
        line-height: 2rem;
    }
    .install-prompt {
        font-size: 2.3rem;
        line-height: 2rem;
    }
    h1 {
        font-size: 4.4rem;
    }
}

@media all and (max-width: 30em) {
    .title {
        font-size: 5rem;
    }
    .title-description {
        line-height: 1rem;
    }
    .npm-install-sealious {
        font-size: 2.1rem;
        line-height: 3rem;
    }
    .install-prompt {
        font-size: 2.1rem;
        line-height: 3rem;
    }
    h1 {
        font-size: 4rem;
    }
}

@media all and (max-width: 22.5em) {
    .title {
        font-size: 4.5rem;
    }
    .title-description {
        line-height: 1rem;
    }
    .npm-install-sealious {
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .install-prompt {
        font-size: 1.8rem;
        line-height: 2rem;
    }
    h1 {
        font-size: 3.6rem;
    }
}

@media all and (max-width: 20em) {
    .title {
        font-size: 4rem;
    }
    h1 {
        font-size: 3.2rem;
    }
}

@media all and (max-height: 38.75em) {
    .page-header {
        height: auto;
    }
}
